* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fcfcfc;
}

h1, h2, h3, h4, p, a {
  font-size: 16px;
}

h2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
